<div class="container">
  <div class="row">
    <div class="col-4"></div>
    <div class="col-4">
      <div class="card" style="width: 18rem;" lighter>
        <div class="card-header">
          <h4>Angular</h4>
        </div>
        <div class="card-body">
          <h5 class="card-title">Renderer2</h5>
          <p class="card-text">
            An Abstract class provided by Angular to manipulate app Elements
            without touching the DOM directly.
          </p>
          <a href="#" class="btn btn-primary" lighter>Light Me Up !</a>
        </div>
      </div>
    </div>
    <div class="col-4"></div>
  </div>
</div>
